:root{
    scroll-behavior: smooth;
    font-size:100%;
}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
    cursor: inherit;
}
p a{
    display: inline;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , em , mark, pre, code{
    font:inherit;
}
mark{
    background-color:transparent;
}
picture , img, video , iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}
svg{
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
    
}
form , input , select , option , textarea , label , fieldset , legend , button{
    display: block;
    font:inherit;
    background-color: initial;
}
fieldset {
    border : none ;
}
button , label{
    cursor: pointer;
}
body{
    background-color: #1a202c;
    font-family: "Montserrat";
    --body-color: snow;
    --button-color: #c8ffb8;
    --button-color-text: black;
    --h2-font: italic 600 3.75rem  "Montserrat";  
    --h3-font: italic 400 1.75rem "Montserrat";
    --h4-font: italic 300 1.5rem "Montserrat";
    --stroke-color: #D1D1D1;
    --second-background-color: #2D3748;
    --p-principal-font: normal 300 1.5rem "Montserrat";
    --p-secundary-font: normal 200 1rem "Montserrat";
}
.Section{
    width: 95%;
    max-width: 1600px;
    min-height: 28.75rem;
   
    margin: auto;

    border-radius: 4rem;
}
.Section-america-norte{
    background: url(../assets/rascacielos-nueva-york.webp) no-repeat center / cover;
}
.Section-america-sur{
    background: url(../assets/fondoamericasur.webp) no-repeat center / cover;
}
.Section-europa{
    background: url(../assets/fondoeuropa.webp) no-repeat bottom / cover ;
}
.Section-africa{
    background: url(../assets/cairo-egipto.webp) no-repeat center / cover;
}
.Section-asia{
    background: url(../assets/fondo-asia.webp) no-repeat center / cover;
}
.Section-oceania{
    background: url(../assets/fondo-oceania.webp) no-repeat center / cover;
}
.Section-content{
    width: 45%;
    min-height: 12.5rem;
    /* background-color: dodgerblue; */

    padding: 5rem;
}
.Section-h1{

    width: 50%;
    padding-bottom: 3rem;

    font-weight: 700;
    font: normal 700 clamp(4.5rem, 3vw, 5.75rem) "Montserrat";
    text-transform: uppercase;
    text-shadow: 10px 0px 0px rgba(0, 0, 0, 0.5);

    color: var(--body-color);
}
@media ( max-width: 820px ){
    .Section-h1{
        width: 100%;
        font-size: clamp(3rem, 6vw, 4.5rem);
    }
    .Section-content{
        width: 90%;
        padding: 2rem;
    }
    .Section{
        align-content: center;
    }
}
.Section-p{
    width: 100%;

    font: var(--p-font);
    color: var(--body-color);
}
.Main{
    width: 100%;
    min-height: 100vh;
    /* background-color: saddlebrown; */

    margin: auto;
    padding-top: 4rem;
}
.Main-carrousel{
    width: 100%;
    max-width: 120rem;
    min-height: 100vh;
    /* background-color: antiquewhite; */

    overflow: hidden;
    position: relative;
}
.Main-arrow{
    width: 2rem;
    height: 2rem;
    /* background-color: blue; */

    position: absolute;
    top: calc( 50% - 2rem);
    border-radius: 1rem;

    z-index: 1;

    cursor: pointer;
    transition: transform .5s ease;

    &:hover{
        transform: scale(.8);
    }&:active{
        transform: scale(1.2);
    }
}
.bi{
    stroke: var(--stroke-color);
}
.Main-arrow--prev{
    left: 1rem;
}
.Main-arrow--next{
    right: 1rem;
}
.Main-ul{    
    display: grid;
}
.Main-li{
    width: 100%;
    min-height: 100vh;
    /* background-color: lightgrey; */

    margin: auto;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat( 2 , 1fr );
    gap: 1rem;
}
.Main-li--destinos{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Main-img{
    width: 100%;
    min-height: 90vh;
    /* background-color: #c8ffb8; */

    padding: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Images-grid{
    width: 100%;
    min-height: 50rem;
    /* background-color: lightsteelblue; */

    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    justify-content: center;
    align-items: center;
}

.Images-img{
    background-color: lightseagreen;

    object-fit: cover;
}
.Main-content{
    width: 100%;
    min-height: 90vh;
    /* background-color: aquamarine; */

    padding: 2rem 0;

    color: var(--body-color);
}
.Main-h2{
    width: 90%;
    min-height: 10vh;
    /* background-color: firebrick; */

    margin: auto ;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--stroke-color);
    font: var(--h2-font);

    text-transform: uppercase;
    text-align: center;

}
.Main-text{
    width: 90%;
    min-height: 70vh;
    /* background-color: sandybrown; */

    margin: auto;
}
.Main-h3{
    width: 100%;
    min-height: 9rem; 

    padding: 1rem 2rem;

    font: var(--h3-font);
    text-align: center;
}
.Main-p{

    padding: 1rem 2rem;

    font: var(--p-secundary-font);
    text-align: justify;
    line-height: 1.8rem;
}
.Resume-ul{
    width: 100%;
    min-height: 7.5rem;
    /* background-color: gold; */

    padding: 2rem 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-top: .0625rem solid var(--stroke-color);
    border-bottom: .0625rem solid var(--stroke-color);
}
.Resume-span{
    width: 100%;
    min-height: 7.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: .0625rem solid var(--stroke-color);
}
.Main-info{
    width: 90%;
    min-height: 10vh;
    /* background-color: ghostwhite; */

    margin: auto;
    padding: 1rem;
}
.Main-bttn{
    width: 50%;
    min-height: 6vh;
    background-color: var(--button-color);

    margin: auto;

    border-radius: 3rem;
}
.Main-bttn:hover{
    letter-spacing: .125rem;
    background-color: var(--button-color);
    color: var(--button-color-text);
    box-shadow: var(--button-color) 0rem .4375rem 1.8125rem 0rem;
}
.Main-bttn:active{
    letter-spacing: .125rem;
    background-color: var(--button-color);
    color: var(--button-color-text);
    box-shadow: var(--button-color) 0rem 0rem 0rem 0rem;
    transform: translateY(.625rem);
    transition: 100ms;
}
@media (max-width: 1352px){
    .Resume-ul{

        margin: auto;

       display: grid;
       grid-template-columns: repeat( 2 , 1fr);
    }
    .Resume-li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 820px){
    .Main-li{
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: center;
        align-items: center;
    }
    .Images-grid{
        min-height: 10rem;
        grid-template-columns: repeat( 4 , 1fr);
    }
    .Main-img{
        min-height: 10vh;

        padding: 0 1rem;
    }
}
.Main-lightbox{
    width: 100%;
    max-width: 150rem;
    height: 100vh;
    background-color: var(--second-background-color);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;

    opacity: 0;
    pointer-events: none;

    text-justify: justify;

}
.Main-lightbox.isActive{
    align-items: flex-start;

    opacity: 1;
    pointer-events: auto;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.bi-x-square{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 3;

    stroke: var(--stroke-color);
}
.Lightbox{
    width: 100%;
    min-height: auto;
    /* background-color: beige; */

}
.Lightbox-header{
    width: 100%;
    min-height: 40vh;
    /* background-color: red; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}
.Lightbox-title{
    width: 50%;
    min-height: 40vh;
    /* background-color: green; */

    /* padding: 2rem; */
}
.Lightbox-h2{
    width: 100%;
    min-height: 10vh;
    /* background-color: blue; */

    padding: 0 5rem;

    font: var(--h2-font);
    color: var(--stroke-color);
}
.Lightbox-h3{
    width: 100%;
    min-height: 7vh;
    /* background-color: yellow; */

    padding: 0 5rem;

    font: var(--h3-font);
    color: var(--stroke-color);
}
.Lightbox-img{
    width: 50%;
    height: 40vh;
    /* background-color: pink; */
}
.Lightbox-p{
    width: 100%;
    height: 10vh;
    /* background-color: lime; */

    padding: 1rem 5rem;

    mask-image: linear-gradient(bottom, white 40%, transparent);
      -webkit-mask-image: linear-gradient(to bottom, white 20%, transparent);

    line-height: 2rem;
    font: var(--p-secundary-font);
    color: var(--body-color);
}
.Lightbox-p.isActive{
    height: 20vh;
    mask-image: none;
}
.Lightbox-carrousel{
    width: 100%;
    min-height: 5vh;
    /* background-color: navy; */

    padding: 1rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Lightbox-ul{
    width: 100%;
    min-height: 5vh;
    background-color: #44536e;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}
.Lightbox-li{
    width: calc(85% / 10);
    min-height: 5vh;

    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;

    border-radius: .5rem;

    color: var(--body-color);

}
.Lightbox-li.isActive{
    
    background-color: var(--button-color);
    color: var(--button-color-text);
    box-shadow: var(--button-color) 0rem 0rem 0rem 0rem;
    transition: 100ms;
}
.Lightbox-content{
    width: 100%;
    min-height: 55vh;
    /* background-color: darkseagreen; */

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}
.Lightbox-text{
    width: 90%;
    min-height: 50vh;
    /* background-color: khaki; */

    opacity: 0;

    position: absolute;
}
.Lightbox-text.isVisible{
    opacity: 1;

    position: static;
}
.Lightbox-h4{
    width: 100%;
    min-height: 5vh;
    /* background-color: gold; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;

    font: var(--h4-font);
    color: var(--stroke-color);
}
.Lightbox-column{
    width: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.Column-left{

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.Column-li{

    padding: 0 2rem;

    font: var(--p-secundary-font);
    color: var(--body-color);
}

.Column-strong{
    /* width: 50%;
    min-height: 30vh; */
    /* background-color: red; */

    font: var(--p-principal-font);
    color: var(--stroke-color);
}
.Column-p{

    font: var(--p-secundary-font);
    color: var(--body-color);
}
.Column-image{
    width: 50%;
    height: 30vh;
}

@media (max-width: 1167px){
    .Lightbox-header{
        min-height: 70vh;

        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .Lightbox-title{
        width: 100%;
        min-height: 10vh;
        /* background-color: green; */

        padding: 0 2rem;

        text-align: center;
    }
    .Lightbox-img{
        width: 80%;
        height: 20vh;
    }
    .Lightbox-p{
        display: none;
    }
    .Lightbox-carrousel{

        display: grid;
        grid-template-columns: 20% 80%;
    }
    .Lightbox-ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .Lightbox-li{
        width: 100%;
    }
    .Lightbox-text{

        padding: 2rem 0 ;
    }
    .Lightbox-column{

        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .Column-image{
        width: 80%;
        height: auto;
    }
}