:root{
    scroll-behavior: smooth;
    font-size:100%;
}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
    cursor: inherit;
}
p a{
    display: inline;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , em , mark, pre, code{
    font:inherit;
}
mark{
    background-color:transparent;
}
picture , img, video , iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}
svg{
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}
img{
    object-fit: cover;
    object-position: center;
}
form , input , select , option , textarea , label , fieldset , legend , button{
    display: block;
    font:inherit;
    background-color: initial;
}
fieldset {
    border : none ;
}
button , label{
    cursor: pointer;
}
body{
    background-color: #1a202c;
    font-family: "Montserrat";
    --body-color: snow;
    --button-color: #c8ffb8;
    --button-color-text: black;
    --h2-font: italic 600 2.75rem  "Montserrat";  
    --h3-font: italic 400 1.3rem "Montserrat";
    --stroke-color: #D1D1D1;
    --second-background-color: #2D3748;
}
.Main{
    width: 100%;
    min-height: 200vh;
    /* background-color: blue; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .0625rem;
}
.Main-content{
    width: 100%;
    min-height: calc(200vh / 6);
    /* background-color: beige; */

    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    border-bottom: .0625rem solid #D1D1D1;
}
.Main-h2{
    width: 100%;
    min-height: 3rem;
    /* background-color: red; */

    padding: 0 0 1rem;

    font: var(--h2-font);
    text-transform: uppercase;
    color: var(--stroke-color);
}
.Main-carrousel{
    width: 90%;
    min-height: 25rem;
    /* background-color: lightcoral; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .1875rem;
}
.Main-destino{
    width: 15rem;
    /* background-color: firebrick; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: .0625rem;
}
.Main-img{
    height: 24.75rem;
    background-color: blue;

    border-radius: .5rem;

    overflow: hidden;

    position: relative;
}
.Main-destino:hover{
    width: 25rem;
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Main-h3{
    /* background-color: lightblue; */
    font: var(--h3-font);
    color: var(--stroke-color);
}

@media (max-width: 820px){
    .Main-destino:hover{
        width: 15rem;
        transition: none;
    }

}